---
layout: default
---

<section id="main-nav" class="sticky gray flex fl-rw upper">
    <div id="logo">
        <a href="#splash">{% include /cr-logo.svg %}</a>
    </div>
    <nav class="flex fl-rw">
        <a href="#specialize">What We Offer</a>
        <a href="#dribbble">Recent Work</a>
        <a href="#mission-statement">Mission Statement</a>
        <a href="#platform">Platforms</a>
        <a href="#contact" class="btn btn-ol">Contact</a>
    </nav>
</section>

<div id="vid-container">
    <video id="vid-bg" type="video/mp4" autoplay="true" loop="loop" preload="auto">
        <source src="res/vid/working.mp4">
    </video>
</div>
<section id="splash" class="dark">

    <header>
        {% include /cr-logo.svg %}
        <aside>Creative<strong>Rex</strong></aside>
    </header>
    <h1>We build <strong>amazing, effective, beautiful products</strong> for you.</h1>

    <a href="#contact" class="btn btn-ol">Let&#39;s talk about your project</a>

    <nav class="flex fl-rw upper upper gray">
        <a href="#specialize">What We Offer</a>
        <a href="#dribbble">Recent Work</a>
        <a href="#mission-statement">Mission Statement</a>
        <a href="#platform">Platforms</a>
    </nav>
</section>


<section id="specialize" class="light">
    <h2>We specialize in...</h2>
    <div class="flex fl-rw rw-4 fl-nowrap">
        <div class="flex fl-col">
            <h3>Product research</h3>
            {% include research.svg %}
            We use proven methodology to determine the best product-to-market approach.
        </div>
        <div class="flex fl-col">
            <h3>UX &amp; UI design</h3>
            {% include ux.svg %}
            The fun part. Watch your idea begin to take form in sketches, wireframes, mockups and prototypes.
        </div>
        <div class="flex fl-col">
            <h3>User testing</h3>
            {% include test.svg %}
            How do you know if a design is the right one? By testing those results against current and potential customers.
        </div>
        <div class="flex fl-col">
            <h3>Web &amp; app development</h3>
            {% include code.svg %}
            We’ll find the right technology for your product and deliver a beautiful, stable finished product.
        </div>
    </div>
</section>


<section id="work" class="light fl-rw">
    <div id="work-content" class="c-left">
        <h2>Recent Work</h2>
        <h3>Simple Interval</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet tincidunt nunc, ut congue augue. Nulla et sodales nisl, eu porttitor felis. Quisque consequat risus dolor, non blandit magna imperdiet non. Curabitur in ex aliquam, facilisis est eget, lobortis nunc. Nam nec enim quis urna iaculis aliquam.
        </p>
        <p>See more work on <a href="http://www.dribbble.com/creativerexco" target="_blank">Dribbbble</a></p>
    </div>
    <div id="work-splash" class="c-right">
        &nbsp;
    </div>
</section>

<section id="platform" class="light shadow">
    <h2>The same expertise applied across every platform</h2>



</section>


<section id="mission-statement" class="light fl-rw">
    <div id="m-content" class="c-left">
        <h2>Compelling design is the result of asking the right questions</h2>
        <p>
            We use research, user testing and and smart work to find our clients the best solutions.
        </p>
        <p>
            One more sentence here, maybe about what we do and why. Methodology etc.
        </p>
    </div>

    <div id="m-splash" class="c-right">
        &nbsp;
    </div>
</section>

<section id="contact" class="dark">
    <h2>Let&#39;s talk about your project</h2>
    <p></p>

    <form>
        <div class="flex fl-rw rw-2">
            <div>
                <input type="text" id="firstname" placeholder="first name" required></input>
                <label for="firstname">first name</label>
            </div>
            <div>
                <input type="text" id="lastname" placeholder="last name" required></input>
                <label for="lastname">last name</label>
            </div>
            <div>
                <input type="text" id="email" placeholder="email" required></input>
                <label for="email">email</label>
            </div>
            <!-- <div>
                <input type="text" id="phone" placeholder="phone" required></input>
                <label for="phone">phone</label>
            </div> -->
            <div>
                <input type="text" id="phone" placeholder="phone" required></input>
                <label for="phone">phone</label>
            </div>

            <div id="message">
                <textarea type="textbox" id="notes" placeholder="message" required></textarea>
                <label for="notes">message</label>
            </div>
            <button action="send" class="btn btn-o">send</a>
        </div>
    </form>
</section>
<footer></footer>
<!--
<section class="home">
  <h2 class="page-heading">Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</section> -->
