---
layout: default
---

<section id="main-nav" class="sticky gray flex fl-rw upper">
    <div id="logo">
        {% include /cr-logo.svg %}
    </div>
    <nav class="flex fl-rw">
        <a href="#specialize">What We Offer</a>
        <a href="#dribbble">Recent Work</a>
        <a href="#mission-statement">Mission Statement</a>
        <a href="#platform">Platforms</a>
        <a href="#contact" class="btn btn-ol">Contact</a>
    </nav>
</section>

<video id="vid-bg" type="video/mp4" autoplay="true" loop="loop" preload="auto">
    <source src="res/vid/working.mp4">
</video>

<section id="splash" class="dark">

    <header>
        {% include /cr-logo.svg %}
        <aside>Creative<strong>Rex</strong></aside>
    </header>
    <h1>We build <strong>amazing, effective, beautiful products</strong> for you.</h1>

    <a href="#contact" class="btn btn-ol">Let's talk about your project</a>

    <nav class="flex fl-rw upper upper gray">
        <a href="#specialize">What We Offer</a>
        <a href="#dribbble">Recent Work</a>
        <a href="#mission-statement">Mission Statement</a>
        <a href="#platform">Platforms</a>
    </nav>
</section>


<section id="specialize" class="light">
    <h2>We specialize in...</h2>
    <div class="flex fl-rw rw-4">
        <div class="flex fl-col">
            <h3>Product research</h3>
            {% include research.svg %}
            We use proven methodology to determine the best product-to-market approach.
        </div>
        <div class="flex fl-col">
            <h3>UX & UI design</h3>
            {% include ux.svg %}
            The fun part. Watch your idea begin to take form in sketches, wireframes, mockups and prototypes.
        </div>
        <div class="flex fl-col">
            <h3>User testing</h3>
            {% include test.svg %}
            How do you know if a design is the right one? By testing those results against real potential customers.
        </div>
        <div class="flex fl-col">
            <h3>Web & app development</h3>
            {% include code.svg %}
            We’ll find the right technology for your product and deliver a beautiful, stable finished product.
        </div>
    </div>
</section>


<section id="dribbble" class="light">
    <h2>Recent Work</h2>
</section>

<section id="mission-statement" class="light">
    <h2>Compelling design is the result of asking the right questions</h2>
    <p>
        We use research, user testing and and smart work to find our clients the best solutions.
    </p>
    <p>
        One more sentence here, maybe about what we do and why. Methodology etc.
    </p>
</section>

<section id="expertise" class="light">
    <h2>The same expertise applied across every platform</h2>
</section>

<section id="contact" class="dark">
    <h2>Let's talk about your project</h2>
    <p></p>

    <form>
        <label for="firstname">First Name</label>
        <input type="text" id="name" placeholder="first name"></input>

        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" placeholder="last name"></input>

        <label for="email">Email</label>
        <input type="text" id="email" placeholder="email"></input>

        <label for="phone">Phone</label>
        <input type="text" id="phone" placeholder="phone"></input>

        <label for="notes">Message</label>
        <input type="text" id="notes" placeholder="message"></input>
    </form>
</section>
<footer></footer>
<!--
<section class="home">
  <h2 class="page-heading">Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</section> -->
