<footer class="site-footer flex fl-row fl-between dark">
    <div>
        <h2>About Creative Rex</h2>
        <div class="flex fl-col left">
            {% include site-menu.html %}
        </div>
        <a href="{{ "#contact" | prepend:site.baseurl }}">Contact</a>
    </div>
    <div>
        <h2>Follow Us</h2>
        <div class="flex fl-col left">
        {% include social.html %}
        </div>
    </div>
    <div>
        <small class="small gray">© Copyright 20{{ site.time | date: '%y' }} Creative Rex Llc. All Rights Reserved.</small>
    </div>

</footer>
