<footer class="site-footer flex fl-row dark">
    <div>
        <h3>About Creative Rex</h3>
        <div class="flex fl-col left">
            {% include site-menu.html %}
        </div>
        <a href="{{ "#contact" | prepend:site.baseurl }}">Contact</a>
    </div>
    <div>
        <h3>Follow Us</h3>
        <div class="flex fl-col left">
        {% include social.html %}
        </div>
    </div>
    <div>
        <small>Copyright 20{{ site.time | date: '%y' }} Creative Rex Llc. <br /> All Rights Reserved.</small>
    </div>

</footer>
