
$dk-gray: #555555;
$lg-gray: #B4B2B3;
$pink: #FF087D;
$blue: #240099;
@mixin specialfont { font-family: "roboto", helvetica, arial, san-serif; }
@mixin shadow {box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.25); }

// util

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

element {
     @include background-opacity(#333, 0.5);
}

.flex { display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap; }
.fl-col { flex-direction: column; }
.fl-rw { flex-direction: row; }
.rw-4 {
    max-width: 90%;
    > * {
    width: 22%;
    //min-width: 17rem;
    text-align: center;
    padding: 1rem;
    img, svg { width: 4rem; height: auto; padding: 2em 0; }
    justify-content: space-between;
    &:nth-child(even) { background: lighten($dk-gray, 62); }
    }
}

.rw-2 {
    max-width: 90%;
    > * {
    width: 44%;
    //min-width: 17rem;
    text-align: center;
    padding: 1rem;
    // img, svg { width: 4rem; height: auto; padding: 2em 0; }
    justify-content: space-between;
    // &:nth-child(even) { background: lighten($dk-gray, 62); }
    }
}

.dark { background: #1D1F1F; }
.light { background: #FFF; }
.light .gray, .light .grey { color: $dk-gray; }
.dark .gray, .dark .grey { color: $lg-gray; }
.upper { text-transform: uppercase; }
.shadow { @include shadow }

//
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", helvetica, san-serif;

}

h1, h2 {
    font-size: 2.5em;
    font-weight: 300;
    }

    h1{
    text-transform: uppercase;
    color: $lg-gray;
    strong { color: #FFF; font-weight: bold; }
    }

    h2, h3, h4 { color: $dk-gray; }
    h3 { font-weight: bold; font-size: 1em;}

#container { width: 100%; overflow: hidden; }
//nav
#main-nav {
    // height: 4rem;
    background: white;
    z-index: 10;
    font-size: $small-font-size;
    text-decoration: none;
    @include shadow;
    overflow: hidden;
    transition: all .2s ease-in-out;
    &.show { top: 0rem; }
    #logo { overflow: hidden; height: auto; height: 3.5rem; transition: all .15s ease-in-out;
        svg { transition: all .15s ease-in-out; }
        a { opacity: 1; }
        &:hover svg { transform: rotateZ(-10deg); }
    }
    a { color: $dk-gray; text-decoration: none; font-size: .85rem; font-weight: bold; opacity: .7; padding: 1.2rem .5rem; transition: all .1s ease-in-out;
    &:hover { background: lighten($dk-gray, 60); color: black; }
    }
    a.btn { padding: .35rem; color: $blue; margin-left: .75rem; border-color: $blue; opacity: 1;
    &:hover {
        //background: black;
        color: black;
        border-color: black; }
    }
}

a.btn { font-weight: bold; text-transform: uppercase; color: $pink; border: .2rem solid $pink; text-decoration: none;}


.sticky { position: fixed; top: -10rem; width: 100%; }
#splash {
    @include background-opacity(#1D1F1F, 0.9);
    color: #FFF;
    height: 85vh;
    max-height: 65rem;
    text-align: center;
    aside { text-transform: uppercase; color: $lg-gray; }
    svg { transform: rotate(-11deg); }
    a.btn { width: 35%; min-width: 15rem; padding: 1rem; transition: all .1s ease-in-out;
    &:hover {
        color: #FFF;
        border-color: #FFF;
        }
    }
    nav a { font-weight: 300; }
    strong { color: #fff; }
    nav { width: 70%; @include specialfont;
        a {
            font-size: $small-font-size;
            // font-weight: bold;
            color: $lg-gray;
            &:hover { color: white;  }
            }

         }
     &::after {
        content: "";
        display: block;
        width: 100%;
        background: linear-gradient(90.2deg, #FF087E 12.37%, #2B059E 98.93%), linear-gradient(0deg, #C4C4C4, #C4C4C4);
        height: .35rem;
        position: absolute;
        bottom: 15vh;
     }
}
#vid-container {
    overflow: hidden;
    width: 100%;
    position: absolute;
    height: 85vh;
    max-height: 65rem;
    z-index: -10;

    }
#vid-bg {

    width: 100vmax;
    transform: scaleX(-1);

}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    > * { max-width: 48rem; }
    }

#contact { height: 100vh; }

#platform { height: 85vh;

}

#mission-statement {
    height: 85vh;
    background: url("../img/mission-bg.jpg");
    background-size: cover;
}
