
$gray-dk: #555555;
$gray-lg: #B4B2B3;
$gray-white: #EAE9F5;
$pink: #FF087D;
$green: #22F991;
$blue: #240099;
$blue-lg: #37E7F7;
$white: #fff;
$offwhite: #F6F6F6;
@mixin specialfont { font-family: "roboto", helvetica, arial, san-serif; }
@mixin shadow {box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.25); }

// util

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

element {
     @include background-opacity(#333, 0.5);
}

.flex { display: flex; justify-content: space-around; align-items: stretch; flex-wrap: wrap; }
.fl-col { flex-direction: column; }
.fl-rw { flex-direction: row; }
.fl-center { align-items: center; justify-content: center; }
.fl-between { justify-content: space-between; }
.fl-nowrap { flex-wrap: nowrap;
  @media screen and (max-width: 50rem) {
    flex-wrap: wrap;
    .flex {
      min-width: 50%;
    }
  }
}
.rw-4 {
    max-width: 100%;
    padding: 1em 0 5em 0;
    border-bottom: 1px solid $gray-white;
    > * {
    // width: 25%;
    // height: 43vh;
    //min-width: 17rem;
    text-align: center;
    padding: 0 1.5em 0 1.5rem;
    border: 1px solid $gray-white;
    border-width: 0px 0px 0px 1px;

    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;


    img, svg { width: 4rem; height: auto; padding: 2em 0; }
    justify-content: space-between;
    // &:nth-child(even) { background: lighten($gray-dk, 62); }
    }
    @media screen and (max-width: 50rem) {
      padding: 0;

      & > * {
        padding: 1em 1.5em 3em 1.5rem;
        border-width: 1px 0px 0px 1px;
      }
    }
}

.rw-2 {
    //max-width: 90%;
    > * {
    width: 44%;
    //min-width: 17rem;
    text-align: center;
    padding: 1rem;
    // img, svg { width: 4rem; height: auto; padding: 2em 0; }
    justify-content: space-between;
    // &:nth-child(even) { background: lighten($gray-dk, 62); }
    }
}

.dark { background: #1D1F1F; color: lighten($gray-dk, 30) }
.light { background: #FFF; }
.light .gray, .light .grey { color: $gray-dk; }
.dark .gray, .dark .grey { color: $gray-lg; }
.upper { text-transform: uppercase; }
.shadow { @include shadow }
.txt-left { text-align: left; }

.c-left { max-width: 25em; }
.c-right { flex-grow: 1; width: auto; }
.small { font-size: .6em;}
.gray { color: $gray-lg; }
//
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", helvetica, san-serif;

}

h1, h2 {
    font-size: 2.5em;
    font-weight: 300;
    }

    h1{
      text-transform: uppercase;
      color: $gray-lg;
      @media screen and (max-width: 40rem) {
        font-size: 1.75em;
      }
      strong { color: #FFF; font-weight: bold; }

      @media screen and (max-width: 50rem) {
        padding-left: 5%;
        padding-right: 5%;
      }

    }

    h2, h3, h4 { color: $gray-dk; }
    h2 {
      @media screen and (max-width: 55rem) {
        font-size: 1.75em;
        color: darken($gray-dk, 15%);
      }
    }
    h3 { font-weight: bold; font-size: 1em;}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  color: $pink;
  border: .2rem solid $pink;
  text-decoration: none;
  padding: .75em 2em;
  box-shadow: 0em 0 0 $pink inset, 0em 0 0 $pink inset, 0 0 0 rgba(0,0,0,.1);
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  //$white-space: nowrap;
  margin-left: .5em;
  margin-right: .5em;
}
.btn:hover {
  color: $white;
  box-shadow: -25em 0 0 $pink inset, 25em 0 0 $pink inset, 0 4px 14px rgba(0,0,0,.2);
}

.btn-blue {
    color: $blue-lg;
    border: .2rem solid $blue-lg;
    box-shadow: 0em 0 0 $blue-lg inset, 0em 0 0 $blue-lg inset, 0 0 0 rgba(0,0,0,.1);
    &:hover { box-shadow: -25em 0 0 $blue-lg inset, 25em 0 0 $blue-lg inset, 0 4px 14px rgba(0,0,0,.2); }
 }

#container { width: 100%; overflow: hidden; }
//nav
#main-nav {
    // height: 4rem;
    background:$white;
    z-index: 100;
    font-size: $small-font-size;
    text-decoration: none;
    @include shadow;
    overflow: hidden;
    transition: all .2s ease-in-out;
    nav { align-items: center;}
    &.show { top: 0rem; }
    #logo { overflow: hidden; height: auto; height: 3.5rem; transition: all .15s ease-in-out;
        svg { transition: all .15s ease-in-out; }
        a { opacity: 1; }
        &:hover svg { transform: rotateZ(-10deg); }
    }
    a:not(.btn) { color: $gray-dk; text-decoration: none; font-size: .85rem; font-weight: bold; opacity: .7; padding: 1.2rem .75rem; transition: all .1s ease-in-out;
      &:hover { background: lighten($gray-dk, 60); color: black; }
    }
    .btn { padding: .35rem;  margin: .75rem 0 .75rem .75rem; font-size: .75rem;}
    @media screen and (max-width: 35rem) {
      #logo {
        display: none;
      }
    }
}



.sticky { position: fixed; top: -10rem; width: 100%; }
#splash {
    @include background-opacity(#1D1F1F, 0.9);
    color: #FFF;
    min-height: 85vh;
    //max-height: 65rem;
    position: relative;
    text-align: center;

    aside { text-transform: uppercase; color: $gray-lg; }
    svg { transform: rotate(-11deg); }
    .btn { min-width: 15rem; padding: 1rem;margin-bottom: 2rem;

    }
    nav a { font-weight: 300; }
    strong { color: #fff; font-style: italic;}
    nav { width: 70%; @include specialfont;
        white-space: nowrap;
        @media screen and (max-width: 40rem) {
          padding: 1em 0;
        }
        a {
            font-size: $small-font-size;
            // font-weight: bold;
            color: $gray-lg;
            padding: .75em;
            &:hover { color:$white;  }
            }

         }

     #splash-shard-left {
        position: absolute;
        left: -4rem;
        bottom: 0;
     }

    // header spacing
    header {
      padding-top: 4em;
    }
  }

.color-stripe {
    overflow: hidden;
        position: relative;
    &::after {
       content: "";
       display: block;
       width: 100%;
       background: linear-gradient(90.2deg, #FF087E 12.37%, #2B059E 98.93%), linear-gradient(0deg, #C4C4C4, #C4C4C4);
       height: .35rem;
       position: absolute;
       bottom: 0;
       left: 0;
    }
}
#splash #vid-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
  max-height: 100%;
  max-width: 100%;
  }
#vid-bg {
  object-fit: cover;
    width: 100%;
    height: 100%;
}

section, .main footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    > * { max-width: 48rem; }
    }

#specialize {
  padding-top: 2rem;
}

footer.dark {
  padding: 10vh 0 0 0;
  background-image: url(/img/charcoal.svg);
  background-position: center bottom -20em;
  background-repeat: no-repeat;
  background-color: #0A0F12;

    > div { height: 24em; }
    .btn { width: 100%; }
 .flex svg {
        height: 6.5em;
    }
}

/* --- Contact Form */
#contact form {
  div {position: relative;}
  .sg-question input, .sg-question textarea, input, textarea {
    background: none;
    border: 0px solid transparent;
    border-radius: 0;
    outline: none;
    padding: .25em;
    font-size: 1em;
    border-bottom: 2px solid rgba(white, .4);
    //color:$white;
    color:$white;
    width: 100%;
    cursor: pointer;
    &:focus,
    &:valid {
      border-color: lighten( $pink, 10%);
      cursor: text;
    }
    &::-webkit-input-placeholder {color: transparent;}
    &:-moz-placeholder  {color: transparent;}
    &::-moz-placeholder  {color: transparent;}
    &:-ms-input-placeholder  {color: transparent;}
  }
  label {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    //width: 100%;
    //box-shadow: 0 0 1px red;
    padding: .25em;
    color: rgba(white, .5);
    transition: .25s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    text-align: left;
    cursor: pointer;
  }
  button { background: none; width: 91%; font-size: 1rem; cursor: pointer; }
  input {
    &:focus,
    &:valid {
      & ~ label {
        color: lighten( $pink, 10%);
        font-size: .5em;
        transform: translate(3px, -14px);
        font-weight: bold;
        cursor: auto;
      }
    }
  }
  textarea {
    &:focus,
    &:valid {
      & ~ label {
        color: lighten( $pink, 10%);
        font-size: .5em;
        transform: translate(-3px, -22px);
        font-weight: bold;
      }
    }
  }




    // &:focus {
    //   &::-webkit-input-placeholder {color: rgba(white, .5);}
    //   &:-moz-placeholder  {color: rgba(white, .5);}
    //   &::-moz-placeholder  {color: rgba(white, .5);}
    //   &:-ms-input-placeholder  {color: rgba(white, .5);}
    // }

    #message {
    width: 95%;
    margin-top: 1em;
    }

    textarea {
        border: 2px solid rgba(255, 255, 255, 0.4);
        height: 20em;
    }
}


#work {
    > div { min-height: 55vh; flex-grow: 1; }
    .c-left {
      min-width: 25em; padding: 1.5rem;
      @media screen and (max-width: 50rem) {
        min-width: auto;
      }
    }
    .c-right {
        background: url(/img/interval@2x.jpg) no-repeat center left;
        background-size: 990px;
        background-position: 2rem 0;
        max-width: inherit;
        min-height: 42rem;

    }
}
#platform {
    height: 85vh;
    width: 100%;
    background: $offwhite;
    padding: 4em .75rem;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 55rem) {
      height: auto;
    }

    .fancy-hover {
      &::after,
      &::before {
        pointer-events: none;
        content: '';
        position: absolute;
        display: block;
        border-radius: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(.1) translateZ(0);
        z-index: 1;
      }
      &::after {
        width: 150vw;
        height: 150vw;
        background: $pink;
        transition: .5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
        z-index: 1;
      }
      &::before {
        width: 75vw;
        height: 75vw;
        background: mix(#2B059E, $pink, 50%);

        transition: .9s cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition-delay: .075s;
        z-index: 2;
      }
      &:hover {
        &::after,
        &::before {
          transform: translate(-50%, -50%) scale(1) translateZ(0);
          transition-delay: .1s;
        }
      }
    }
    .card {
      background: $white;
      padding: 0 2.25rem 2rem 2.25rem;
      position: relative;
      z-index: 10;
    }
    #platform-ico { align-items: center; justify-content: space-around;
      svg {margin: 1rem .5rem;}
    }
    // svg { width: 7rem; }

}

#mission-statement {
    background: url("../img/laptop-bg.jpg");
    background-size: cover;
    justify-content: flex-start;
    position: relative;

    //box-shadow: inset 0 -1rem 40rem $white;

    //background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 49%);

    .btn {
        color: $green;
        border-color: $green;
        display: block;
        box-shadow: 0em 0 0 $green inset, 0em 0 0 $green inset, 0 0 0 rgba(0, 0, 0, 0.1);

        &:hover {
            color: $white;
            box-shadow: -25em 0 0 $green inset, 25em 0 0 $green inset, 0 0 0 rgba(0, 0, 0, 1);
            text-shadow: 2px 0 10px darken($green, 10%), 0 1px 3px darken($green, 10%);
        }
    }
    &:after {
        width: 100%;
        height: 15vmin;
        content: "";
        position: absolute;
        bottom: 0;
        background: linear-gradient(to top, rgba(255,255,255,1) 18%,rgba(255,255,255,0) 100%);
        pointer-events: none;
        }

    #m-content {
        background: $white;
        min-height: 85vh;
        padding: 5rem 2rem;
          @media screen and (max-width: 30rem) {
            min-height: 0;
          }
        }


    }

    .sg-question-set {
        overflow: hidden;
        zoom: 1;
        display: flex;
        flex-direction: row;
        width: 90%;
        flex-wrap: wrap;

        > div { width: 50%; }
        .sg-type-essay { width: 100%; flex-grow: 1; flex-wrap: wrap;}
    }
