<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="blog">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
    <div id="container" class="flex fl-row">

        <a id="left" href="{{ "/blog" | prepend: site.baseurl }}" class="flex fl-col fl-center">
                {% include cr-logo.svg %}
            {% if page.id %}
                <span>Back</span>
            {% endif %}
        </a>


        <div id="right">
            <div class="flex fl-row fl-start">
                <div id="content">
                    {{ content }}
                </div>
                <div id="social">
                    <!-- {% include social.html %} -->
                    {% if page.id %}
                        <div class="share">
                            <span class="gray small">Share:</span><br />
                            <!-- TWITTER -->
                            <a
                                href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}"
                                data-size="small">
                                <i class="fa fa-twitter"></i></a>
                            <!-- FACEBOOK -->
                            <div class="fb-share" data-href="https://developers.facebook.com/docs/plugins/" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
                                <i class="fa fa-facebook"></i></a>
                            </div>
                            <!-- MAILTO -->
                            <a href="mailto:?body={{ site.url }}{{ page.url }}">
                                <i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div>


                            {% if page.next.url %}
                                <a class="next" href="{{page.next.url}}">
                                    <small>Next</small>
                                    <p class="pink">{{page.next.title}} &raquo;</p></a>
                            {% endif %}

                            {% if page.prev.url %}
                                <a class="prev" href="{{page.prev.url}}">
                                    <small>Prev</small>
                                    <p class="pink">{{page.prev.title}} &raquo;</p></a>
                            {% endif %}

                    {% endif %}
                </div>
            </div>
        {% include footer.html %}
    </div>
    {% include after-scripts.html %}
    <script>

    /// sticky blog
    var browserHeight = window.innerHeight;
    var contentHeight = $(".post").outerHeight();
    var stopHeight = contentHeight - browserHeight;

    $(window).scroll(function() {
        if ($(this).scrollTop() > stopHeight){
            $('.next').css("position", "absolute").css("bottom", -stopHeight);
          }
          else{
            $('.next').css("position", "fixed").css("bottom", "");
          }
    });
    </script>
  </body>



</html>
